.App{
  height: 100%;
  width: 100%;
  position: absolute;

}

.UsrLogin{
    margin-top: 0.5%;
    height: 100%;
    width: 100%;
    background-color: #f9f8f4;

}

.SignUp{
    margin-top: 1%;
    height: 100%;
    width: 100%;
    background-color:#f9f8f4;
    border-left: 3px solid dodgerblue;
    color: dodgerblue;


}
.Nav {background-color:dodgerblue;
}

.moveinput{margin-left: 3% ;width: 35em}
/*.moveAvata{margin-right: 5%}*/

.foot{
    margin-top: 3.5%;
    height: 100%;
    width: 100%;
    background-color:#f9f8f4;
}

.sidbar{
    background-color: #a6cdff;
    width: 20%;
    font-size: 18px;
    margin-left: 1%;
    border-right: 3px solid gold;
    padding-bottom: 10px;
}

h1 {
    text-align: center;
}

.thumb {
    display: inline-block;
    width: 20%;
    text-align: center;
    margin: 2.5%;
}