.App{
  height: 100%;
  width: 100%;
    background-color: black;

}

.UsrLogin{
    margin-top: 0.5%;
    height: 100%;
    width: 100%;
    background-color: #f9f8f4;
}

.SignUp{
    margin-top: 1%;
    height: 100%;
    width: 100%;
    background-color:#f9f8f4;
    border-left: 3px solid dodgerblue;
    color: dodgerblue;
}
/*.Nav {background-color:dodgerblue;*/
/*}*/

.moveinput{margin-left: 3% ;width: 35em}
.moveAvata{margin-right: 5%}

.foot{
    margin-top: 3.5%;
    height: 100%;
    width: 100%;
    background-color:#f9f8f4;
}

.sidbar{
    background-color: gold;
    font-size: 18px;
    border-right: 3px solid #007bff ;
    padding-bottom: 10px;
    margin-top: 2%;
}

.navIBack{background-color: #007bff}

.marginTable{margin-top: 2%}

/*body{background:lightgray}*/
/*.panel-table .panel-body{*/
    /*padding:0;*/
/*}*/

/*.panel-table .panel-body .table-bordered{*/
    /*border-style: none;*/
    /*margin:0;*/
/*}*/

/*.panel-table .panel-body .table-bordered > thead > tr > th:first-of-type {*/
    /*text-align:center;*/
    /*width: 100px;*/
/*}*/

/*.panel-table .panel-body .table-bordered > thead > tr > th:last-of-type,*/
/*.panel-table .panel-body .table-bordered > tbody > tr > td:last-of-type {*/
    /*border-right: 0px;*/
/*}*/

/*.panel-table .panel-body .table-bordered > thead > tr > th:first-of-type,*/
/*.panel-table .panel-body .table-bordered > tbody > tr > td:first-of-type {*/
    /*border-left: 0px;*/
/*}*/

/*.panel-table .panel-body .table-bordered > tbody > tr:first-of-type > td{*/
    /*border-bottom: 0px;*/
/*}*/

/*.panel-table .panel-body .table-bordered > thead > tr:first-of-type > th{*/
    /*border-top: 0px;*/
/*}*/

/*.panel-table .panel-footer .pagination{*/
    /*margin:0;*/
/*}*/

/*!**/
/*used to vertically center elements, may need modification if you're not using default sizes.*/
/**!*/
/*.panel-table .panel-footer .col{*/
    /*line-height: 34px;*/
    /*height: 34px;*/
/*}*/

/*.panel-table .panel-heading .col h3{*/
    /*line-height: 30px;*/
    /*height: 30px;*/
/*}*/

/*.panel-table .panel-body .table-bordered > tbody > tr > td{*/
    /*line-height: 34px;*/
/*}*/

    /*.Head{*/
        /*background-color: brown;*/
        /*!*border: 1px solid chartreuse;*!*/
        /*border-radius: 14%;*/
        /*top: -25px;*/
        /*left: 10px;*/
    /*}*/

    /*.popularAuthors*/
    /*{background-color: #007bff;*/

        /*height: 30%;*/
        /*width: 20%;*/
        /*padding-top: 9px;*/
        /*border: 2px solid black;*/
        /*border-radius: 8%;*/
        /*text-align: center;*/
        /*color:white;*/

        /*}*/
    /*.popularCategories{*/
        /*background-color: #007bff;*/
        /*height: 30%;*/
        /*width: 100%;*/
        /*padding-top: 9px;*/
        /*border: 2px solid black;*/
        /*border-radius: 8%;*/
        /*margin-left: 0 ;*/
        /*text-align: center;*/
        /*color:white;*/

    /*}*/
    /*.popularBooks{*/
        /*background-color: #007bff;*/
        /*margin-top: 11%;*/
        /*height: 20%;*/
        /*width: 30%;*/
        /*padding-top: 9px;*/
        /*border: 2px solid black;*/
        /*border-radius: 8%;*/
        /*margin-left: 222px ;*/
        /*text-align: center;*/
        /*color:white;*/
    /*}*/
    /*.temp{background-color: blueviolet}*/

.cola{
margin-top: 2%}
.marg{margin-bottom: 1%}